/* Animation Styles */
.first-child {
  transform-origin: bottom left;
  animation: rotate-down 0.4s ease-out both;
}

.middle-child {
  animation: fade 0.4s ease-out both;
}

.last-child {
  transform-origin: bottom left;
  animation: rotate-up 0.4s ease-out both;
}

@keyframes rotate-down {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotate-up {
  0% {
    transform: rotate(0deg);
  }
  /* 50% {
    transform: rotate(-25deg);
  } */
  100% {
    transform: rotate(-42deg);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    width: 50%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}
