:root {
  --config-brand-background: #f5edd6;
  --config-brand-accent: #950002;
  --config-text-main: #212121;
  --config-white: #ffffff;
  --config-border: #ebebeb;

  --primary: var(--config-brand-background);
  --secondary: var(--config-brand-accent);
  --bg-white: var(--config-white);

  --text-primary: var(--secondary);
  --text-secondary: var(--config-text-main);

  --border-color: var(--config-border);

  --selection-bg: var(--secondary);
  --selection-text: var(--bg-white);

  --status-error: #ff6b6b;

  --font-primary: "IBM Plex Mono", monospace;
  --font-mono: "IBM Plex Mono", monospace;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;

  --line-height-tight: 1.25;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.625;
  --line-height-loose: 2;

  --letter-spacing-tighter: -0.05em;
  --letter-spacing-tight: -0.025em;
  --letter-spacing-normal: 0em;
  --letter-spacing-wide: 0.025em;
  --letter-spacing-wider: 0.05em;
  --letter-spacing-widest: 0.1em;

  --border-radius: 10px;

  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}

::-moz-selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}
