:root {
  /* Primary Colors */
  --primary: #f5edd6;
  --secondary: #950002;

  --text-primary: #950002;

  --text-secondary: #212121;
  --text-secondary-light: #ebebeb;

  /* Selection Colors */
  --selection-bg: #ffcc00;
  --selection-text: #000000;

  /* Overlay Colors */
  --overlay-dark: rgba(0, 0, 0, 0.4);
  --overlay-dark-light: rgba(0, 0, 0, 0.1);
  --overlay-backdrop: #0a192fcc;
  --overlay-backdrop-light: rgba(10, 25, 47, 0.95);
  --overlay-navigation: rgba(255, 255, 255, 0.001);
  --overlay-white: rgba(255, 255, 255, 1);
  --overlay-white-light: rgba(255, 255, 255, 0.1);

  /* Status Colors */
  --status-error: #ff6b6b;

  /* Border Colors */
  --border-primary: rgba(0, 187, 249, 0.3);

  /* Background Colors */
  --bg-card: rgba(0, 187, 249, 0.1);
  --bg-card-hover: rgba(0, 187, 249, 0.2);

  --bg-github: #ffffff;
  --bg-github-text: #000000;
  --bg-skills-text: #252525;

  --font-primary: "IBM Plex Mono", monospace;
  --font-mono: "IBM Plex Mono", monospace;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;

  --line-height-tight: 1.25;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.625;
  --line-height-loose: 2;

  --letter-spacing-tighter: -0.05em;
  --letter-spacing-tight: -0.025em;
  --letter-spacing-normal: 0em;
  --letter-spacing-wide: 0.025em;
  --letter-spacing-wider: 0.05em;
  --letter-spacing-widest: 0.1em;

  --border-radius: 10px;

  /* Spacing */
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}

::-moz-selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}
