* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Fira Mono", monospace;
}

:root {
  --bg-primary: #0a192f;

  --text-secondary: #94a3b8;
  --text-secondary-light: #ccd6f6;
  --text-glow: #64ffda;
  --text-glow: #ff7b00;
  --text-glow: #00bbf9;
  --text-glow: #89fc00;
}

::selection {
  background: #ffcc00;
  color: #000000;
}

/* Change the selection background and text color for Firefox */
::-moz-selection {
  background: #ffcc00;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  background-color: var(--text-secondary);
  border-color: var(--text-secondary);
}

body {
  background-color: var(--bg-primary);
  color: #fff;

  font-optical-sizing: auto;
}

::-webkit-scrollbar {
  width: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

.first-child {
  transform-origin: bottom left;
  animation: rotate-down 0.4s ease-out both;
}

.middle-child {
  animation: fade 0.4s ease-out both;
}

.last-child {
  transform-origin: bottom left;
  animation: rotate-up 0.4s ease-out both;
}

@keyframes rotate-down {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotate-up {
  0% {
    transform: rotate(0deg);
  }
  /* 50% {
    transform: rotate(-25deg);
  } */
  100% {
    transform: rotate(-42deg);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    width: 50%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}
